*{
    margin: 0px;
    padding: 0px;
   
}

body{
    background-color: black;
}


header{
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

main{
    display: block;
    margin: 0px auto;
    background-color: white;
    width: 80%;
    color:black;
}

#botaoAdd{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

h2{
    text-indent: 5px;
}

textarea{
    width: 80%;
    display: block;
    margin: 0px auto;
}

#funcoes{
    border: 1px solid black;
    width: 50%;
    display: block;
    margin: 0px auto;
    text-align: center;
   

}

#funcoes > p{

    display: inline-block;
    text-align: center;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    
}

